@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito:wght@200;300;400;600;700&family=Playfair:ital,wght@1,300&family=Poppins:wght@100;200;300&family=Ubuntu:wght@300&display=swap');

:root{
    --purple: #b53ce0;
    --black: #0eb6f3;
    --light-color: #666;
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
font-size: 62.5%;
overflow-x: hidden;
scroll-padding-top: 5.5rem;
scroll-behavior: smooth;
background-color: #040404;
}

section{
    padding: 2rem 9%;
}


.btn{
    margin-top: 1rem;
    display:inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius: 0.5rem;
    cursor: pointer;
    padding:0.8rem 3rem ;
}

.btn:hover  {
    background: var(--purple);
    letter-spacing: 0.1rem;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo{
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}
.logo img {
    margin-top: 2rem;
    width: 150px;
    height: 50px;
  }

header .logo i {
    color: var(--purple);
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    color: var(--light-color);
}

header .navbar a.active,
header .navbar a:hover{
color: #fff;
background: var(--purple);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: 0.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover{
    color:#fff ;
    background: var(--purple);
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: none;
}


.home .home-slider .slide{
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;

}
.home .home-slider .slide .content{
    flex:1 1 45rem;
}

.home .home-slider .slide .image{
    flex:1 1 45rem;
    margin-left: 30rem;
}

.home .home-slider .slide .image img{
    width: 70%;
    height: 85vh;
    align-items: center;
    background-position: 0rem 5rem;
}

.home .home-slider .slide .content span{
    color: var(--purple);
    font-size: 2.5rem;
}
.home .home-slider .slide .content h3{
    color: var(--black);
    font-size: 7rem;
}

.home .home-slider .slide .content p{
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem 0;
    line-height: 1.5;
}

.swiper-pagination-bullet-active{
    background: var(--purple);
}



/* Media Queries */
@media (max-width:991px) {
    html{
        font-size: 55%;
    }
    header{
        padding: 1rem 2rem;
    }
    section{
        padding: 2rem;
    }
}

@media (max-width:768px) {
    header .icons #menu-bars
    {
        display: inline-block;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0,0,0,0.2);
        border-bottom: .1rem solid rgba(0,0,0,0.2);
        padding:1rem ;
        clip-path: polygon(0 0,100% 0, 100% 0, 0 0);
    }
    header .navbar.active{
        clip-path: polygon(0 0,100% 0, 100% 100%, 0 100%);
    }
    header .navbar a{
        display: block;
        padding:1.5rem ;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }
    .home .home-slider .slide .content h3{
        font-size:5rem;
    }
}
@media (max-width:1024px) {
    html{
        font-size: 50%;
    }

    .home .home-slider .slide .image img{
        width: 100%;
        height: auto;
       border-radius: 20rem;
    }
    
}

@media (max-width:450px) {
    html{
        font-size: 50%;
    }
    
}