{% if completed == True %}

    <p>Training Completed! Total time takedn <b>{{ time_taken }}</b></p>

{% else %}

    {% if trained_stand == True %}
        <p> The standard model is already trained </p>
    {% else %}
        <p> The standard model is not trained </p>
    {% endif %}\

    {% if trained_gen == True %}
        <p>The generative model is already trained </p>
    {% else %}
        <p>The generative model is not trained </p>
    {% endif %}

    <form action="{{ url_for('train') }}" method="post">
        Train the generative model (No will train standard model)
        <select name="model">
            <option value=1>Yes</option>
            <option value=0>No</option>
        </select>

        Scrape the data or not
        <select name="scrape">
            <option value=1>Yes</option>
            <option value=0>No</option>
        </select>

        <input type="submit" value="Start Training" required />
    </form>

{% endif %}