{% if completed == True %}

    <p>Training Completed! Total time takedn <b>{{ time_taken }}</b></p>

{% else %}

    {% if trained_stand == True %}
        <p> The standard model is already trained </p>
    {% else %}
        <p> The standard model is not trained </p>
    {% endif %}\

    {% if trained_gen == True %}
        <p>The generative model is already trained </p>
    {% else %}
        <p>The generative model is not trained </p>
    {% endif %}

    <form action="{{ url_for('train') }}" method="post">
        <select name="model" placeholder="Train the generative model (No will train standard model)">
            <option value="True">Yes</option>
            <option value="False">No</option>
        </select>

        <select name="scrape" placeholder="Scrape the data or not">
            <option value="True">Yes</option>
            <option value="False">No</option>
        </select>

        <input type="submit" value="Start Training" required />
    </form>

{% endif %}